body {
  box-sizing: border-box;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.App {
  text-align: center;
  max-width: 372px;
  color: #eee;
  border: 1px solid white;
  border-radius: 6px;
}
.info > img {
  width:100%;
  max-width: 372px;
}

.footer {
  background-color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
